.separator {
    border-bottom: 1px solid $grey-light-1;
    width        : 85%;
    margin       : auto;
    padding      : 1rem;
}


.heading {

    color         : #ccc;
    text-transform: uppercase;
    padding       : 1rem;
    margin-left   : .75rem;
    font-weight   : 600;

    &--sm {
        font-size: 1.2rem;
    }
}
