$nav-background     :#212121;
$background-light   :#EBEFF3;
$product-grey       :#ccc;
$background-light-1 :#F4F7F9;
$white              :#FFFFFF;
$grey-light-1       :#cfd7df;
$grey-dark          :#b3b3b3;
$hover-light-1      :#383838;
$dark-primary       :#151515;
$dark-secondary     :#212121;
$nav-active         :#DA9E05;
$nav-highlight      :#FFB700;
$card-bg-1          :#68A3FF;
$card-bg-2          :#7773FE;
$card-bg-3          :#FFA134;
$card-bg-4          :#2942C9;


$background-highlight:(158, 158, 158);
$card-shadow         :rgb(245 245 245 / 70%) 0px 0px 0px 0.2px inset,
rgb(33 33 33 / 70%) 0px 0px 0px 0.2px,
rgb(0 0 0 / 30%) 2px 5px 19px 7px;
