<li class="category__list-item">
    <div class="skeleton__container">
        <div class="skeleton__number">
        </div>
        <div class="skeleton__cover"></div>
        <div class="skeleton__title"></div>
        <div class="skeleton__owners"></div>
    </div>
</li>
