<section class="profile-home">
    <div class="genre">
        <div class="genre__layout">
            <GenreCard
                @renderStatus={{true}}
                @title="Pop hits"
                @type="1">
            </GenreCard>
            <GenreCard
                @renderStatus={{true}}
                @title="Dance beats"
                @type="2">
            </GenreCard>
            <GenreCard
                @renderStatus={{true}}
                @title="Top hits"
                @type="3">
            </GenreCard>
        </div>
        <div class="genre-list__layout">
            <Category @title="Dance Beats" @renderStatus={{true}}></Category>
        </div>
    </div>


</section>
